.DS_Store
/Allfiles/20486C/day02/day02/.vs/day02/v15/Server/sqlite3
/Allfiles/20486C/day02/day02/day02/bin
/Allfiles/20486C/day02/day02/day02/obj/Debug
/Allfiles/20486C/day02/mvc/.vs/mvc/v15/Server/sqlite3
